@CHARSET "ISO-8859-1";

body {
	background-color: cyan;
}

h3 {
	color: blue;
	background-color: yellow;
	font-weight: bold;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

dt {
	color: red;
	font-weight: bold;
	font-style: italic;
	font-size: 1.8em;
	font-family: sans-serif-red;
}

dd {
	color: green;
	font-size: 1.2em;
	font-weight: bold;
	font-family: courier;
}