@CHARSET "ISO-8859-1";

h2 {
	color: cyan;
}

h4 {
	color: white;
}

body {
	background-color: gray;
}

table {
	border-collapse: collapse;
	border: 1px solid black;
	width: 500px;
	height: 200px;
}

td {
	vertical-align: middle;
	padding: 15px;
	padding-right: 100px;
	border: 1px solid black;
	position: relative;
	border: 1px solid black;
}

#thumbnail {
	width: 20%;
	height: auto;
	position: absolute;
	right: 0px;
	top: 0px;
	margin-top: 25px;
	margin-right: 15px;
}